body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    margin: 0;
}

.calculator {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 100px auto ;
}

.calculator h1 {
    margin-bottom: 20px;
}

.calculator input,
.calculator select,
.calculator button {
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.calculator button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.calculator button:hover {
    background-color: #45a049;
}

.calculator h2 {
    margin-top: 20px;
    color: #333;
}
